.timeline-list {
    position: relative;
    list-style: none;
    position: relative;
    width: auto;
    margin: 0 auto;
    padding-bottom: 2em;
    padding-left: 0;
}
.timeline-list::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    /* background-color: #add2ec; */
    background-color: #4a5770;;
}
.timeline-block {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.timeline-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(1, 101, 141, 0.979);
    margin-left: -14.5px;
    z-index: 1;
}
.icon-space {
    color: white;
    font-size: 14px;
}
.timeline-block-content {
    margin-left: 15px;
    width: 85%;
    padding-right: 20px;
    transition: all 0.3s ease-in-out; 
}
.timeline-block-content:hover {
    margin-left: 20px;
    background-color: rgb(214, 214, 214);
}
.block-content-title {
    font-size: 20px;
}
.block-content-date {
    margin-top: -5px;
}
.block-content-details {
    margin-top: -5px;
    font-size: 15px;
}
p span {
    white-space: pre-line;
    white-space: pre-wrap;
}
.block-content-padding {
    padding-left: 20px;
}
.timeline-block-content .event-delete {
    opacity: 0;
    transition: opacity 200ms ease-out;
    z-index: 0;
}
.event-control-bar {
    padding-left: 20px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    width: 230px;
    margin-bottom: 10px;
}
.control-bar-delete,
.control-bar-edit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.5px;
    width: 100px;
    transition: all 200ms ease-out;
    border-radius: 25px;
}
.control-bar-delete:hover {
    background-color: red;
    color: whitesmoke;
    transition: all 200ms ease-in;
}
.control-bar-delete:focus {
    outline: none;
    background-color: red;
    color: whitesmoke;
    transition: all 200ms ease-in;
}
.control-bar-edit:hover {
    background-color: royalblue;
    color: whitesmoke;
    transition: all 200ms ease-in;
}
.control-bar-edit:focus {
    outline: none;
    background-color: royalblue;
    color: whitesmoke;
    transition: all 200ms ease-in;
}
.control-bar-delete .control-bar-titles,
.control-bar-edit .control-bar-titles {
    padding: 5px;
}
@media screen and (min-width: 1356px) {
    .timeline-block-content {
        max-width: 80%;
    }
}
@media screen and (min-width: 768px) {
    .timeline-block-content {
        max-width: 90%;
    }
}