.timeline-list {
    position: relative;
    list-style: none;
    position: relative;
    width: auto;
    margin: 0 auto;
    padding-bottom: 2em;
    padding-left: 0;
}
.timeline-list::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    /* background-color: #add2ec; */
    background-color: #4a5770;;
}
.timeline-block {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.timeline-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(1, 101, 141, 0.979);
    margin-left: -14.5px;
    z-index: 1;
}
.icon-space {
    color: white;
    font-size: 14px;
}
.timeline-block-content {
    margin-left: 20px;
    width: 85%;
    padding-right: 20px;
    transition: all 0.3s ease-in-out; 
}
.timeline-block-content:hover {
    margin-left: 25px;
    background-color: rgb(214, 214, 214);
}
.block-content-title {
    font-size: 20px;
}
.block-content-date {
    margin-top: -5px;
}
.block-content-details {
    margin-top: -5px;
    font-size: 15px;
}
.block-content-padding {
    padding-left: 20px;
}