.list-items-container {
   display: flex;
   align-items: center;
   width: 96%;
   background-color: rgb(234, 234, 234);
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   margin-top: 10px;
   margin-bottom: 10px;
}
.list-items-container:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.inner-content {
   display: flex;
   background-color: rgba(1, 101, 141, 0.897);
   line-height: 25%;
   height: 120px;
   align-content: center;
   align-items: center;
}
.inner-content .fa-file {
   display: flex;
   color: white;
   padding: 10px;
   font-size: 20px;
}
.inner-content-description {
   margin-left: 10px;
   margin-right: 10px;
   flex: 1;
}
.content-heading {
   font-size: 22px;
   font-weight: 600;
   color: rgb(25, 147, 218);
}
.content-description {
   color: rgb(90, 90, 90);
   padding-bottom: 10px;
}
.dashboard-control-bar {
   padding-left: 10px;
   padding-right: 10px;
   height: 120px;
   margin-left: auto;
   display: flex;
   align-items: center;
   text-transform: uppercase;
}
.dashboard-control-bar:hover {
   background-color: red;
   color: whitesmoke;
   transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 768px) {
   .list-items-container {
      width: 400px;
   }
}