.dashboard-list-items-container {
   display: flex;
   align-items: center;
   width: 98%;
   background-color: rgb(234, 234, 234);
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   margin-bottom: 10px;
}
.dashboard-list-items-container:hover {
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   transition: box-shadow 0.2s ease-in;
}
.dashboard-list-items-container:focus {
   outline: none;
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
   transition: box-shadow 0.2s ease-in;
}
.inner-content {
   display: flex;
   background-color: rgba(32, 35, 39, 0.897);
   line-height: 25%;
   height: 120px;
   align-content: center;
   align-items: center;
}
.inner-content .fa-file {
   display: flex;
   color: white;
   padding: 20px;
   font-size: 20px;
}
.inner-content-description {
   margin-left: 10px;
   margin-right: 10px;
   flex: 1;
}
.content-heading {
   font-size: 22px;
   font-weight: 600;
   color: rgb(4, 9, 12);
}
.content-heading:hover {
   color: rgb(5, 68, 178);
   transition: color 0.2s ease-in;
}
.content-description {
   color: rgb(90, 90, 90);
   padding-bottom: 10px;
}
.dashboard-control-bar {
   font-size: 14px;
   padding-left: 10px;
   padding-right: 10px;
   height: 120px;
   display: flex;
   align-items: center;
   text-transform: uppercase;
}
.dashboard-control-bar:hover {
   background-color: red;
   color: whitesmoke;
   transition: all 0.4s ease-in-out;
}
.dashboard-control-bar:focus {
   outline: none;
   background-color: red;
   color: whitesmoke;
   transition: all 0.4s ease-in-out;
}
.dashboard-control-bar span {
   padding: 5px;
}
@media screen and (min-width: 768px) {
   .dashboard-list-items-container {
      width: 400px;
   }
}