.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #f1f1f0;
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid rgb(214, 214, 214);
}
.header-menu {
    position: fixed;
    padding: 15px;
    left: 15px;
    font-size: 20px;
}
.header-menu:hover {
    cursor: pointer;
}
.header-dropdown-container {
    position: relative;
    margin: 0 26px;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.header-dropdown-container:after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background: none;
    top: 50%;
}
.fa-chevron-circle-down {
    font-size: 20px;
    position: absolute;
    padding: 8px;
    justify-content: center;
}
.header-dropdown-menu {
    position: absolute;
    top: 54px;
    right: -1px;
    width: 180px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.2s;
    box-shadow: 2px 2px lightgrey;
}
.header-dropdown-menu:before {
    position: absolute;
    content: "";
    top: -6px;
    right: 30px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #fff;
}
.header-dropdown-menu-active {
    visibility: visible;
    opacity: 1;
}
.dropdown-list {
    background-color: #f1f1f0;
    margin: 0;
    padding: 0;
    list-style: none;
}
.dropdown-list-item {
    padding: 10px;
    text-transform: capitalize;
}
.dropdown-list-item:hover {
    background-color: rgba(0, 0, 0, .1);
}
.dropdown-label {
    margin-left: 15px;
}
.dropdown-icon {
    font-size: 20px;
    position: relative;
    top: 4px;
}

@media screen and (min-width: 768px) {
    .grid {
        grid-template-columns: 200px calc(100% - 200px);
        grid-template-rows: 50px 1fr 50px;
        grid-template-areas: 'sidenav header' 'sidenav main' 'sidenav footer';
        height: 100vh;
    }
    .fa-chevron-circle-down {
        display: none;
    }
    .header {
        position: relative;
    }
    .header-dropdown-menu {
        opacity: 1;
        visibility: visible;
        top: 4px;
        box-shadow: none;
        width: 500px;
    }
    .header-dropdown-menu ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}