.finance-item-header {
   display: flex;
   justify-content: space-between;
   list-style: none;
   margin-left: -30px;
   margin-right: 10px;
}
.finance-item {
   display: flex;
   align-items: center;
   list-style: none;
   margin-left: -30px;
   margin-right: 10px;
   border-bottom: 1px solid black;
}
.finance-item-date {
   width: 25%;
   padding-right: 15px;
}
.finance-item-type {
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-content: center;
}
.finance-item-amount {
   width: 140px;
   display: flex;
   justify-content: flex-end;
}
.finance-item-edit,
.finance-item-remove {
   opacity: 1;
   margin-right: 10px;
   padding-left: 10px;
   padding-right: 10px;
   font-size: 45px;
   font-weight: bold;
   transition: opacity 2s ease-in-out;
}
.finance-item-edit:hover {
   color: whitesmoke;
   background-color: royalblue;
   border-radius: 50px;
   transition: all 200ms ease-in;
}
.finance-item-remove:hover {
   color: whitesmoke;
   background-color: red;
   border-radius: 50px;
   transition: all 200ms ease-in;
}
.date-header,
.type-header,
.amount-header {
   font-weight: bold;
}
.transaction-date {
   font-weight: bold;
}
.amount-positive {
   color: black
}
.amount-negative {
   color: red;
}

@media screen and (min-width: 1000px) {
   .finance-item-amount {
      width: 25%;
   }
}
@media screen and (min-width: 768px){
   .finance-item-type {
      justify-content: flex-start;
   }
   .finance-item-edit,
   .finance-item-remove {
      font-size: 30px;
   }
}