.main-content {
    margin: 10px 10px;
}
.content-cards-heading {
    margin: 0;
    width: 100%;
    height: 40px;
    background-color: #3a4e7a;
    color: whitesmoke;
    display: flex; 
    align-items: center;
    margin-bottom: 15px;
}
.add-container {
    position: absolute;
    bottom: -40px;
    right: -110px;

    border: 1px solid black;
}
.add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: white;
    background-color: rgba(1, 101, 141, 0.897);
}
.main-content-events { 
    display: flex;
    flex-direction: column;
    box-shadow: none;
}
.content.events.finanaces {
    box-shadow: 0px 0px white;
}
.content {
    margin-bottom: 25px;
}
.content-visible {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}
.list-cards-visible,
.event-cards-visible,
.finance-cards-visible {
    opacity: 1;
    visibility: visible;
    height: auto;
    max-height: 5000px;
    transition: opacity 0.5s ease-in, visibility 0.5s ease-in, max-height 0.5s ease-in;
    
}
.list-cards-hidden,
.event-cards-hidden,
.finance-cards-hidden {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in, visibility 0.5s ease-in, max-height 0.5s ease-in;
}
.list-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 8px;
    align-content: center;
}
.finances-wrapper {
    display: flex;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}
.finance-section-title {
    padding-left: 10px;
    font-size: 20px;
    margin-top: 0px;
}
.content-header {
    margin: 0;
    width: 100%;
    height: 40px;
    background-color: #3a4e7a;
    color: whitesmoke;
    display: flex; 
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.content-header a {
    text-emphasis: none;
    letter-spacing: 1.5px;
    color: rgb(60, 185, 243);;
}
.content-header a:hover {
    color: lightgrey;
}
.sub-content-header {
    font-size: 14px;
}
.content-titles {
    display: flex;
    align-items: center;
}
.add-icon {
    padding-right: 10px;
}
.add-icon.list-add,
.add-icon.event-add,
.add-icon.finance-add {
    display: none;
}
.add-icon-container {
    display: flex;
    justify-content: flex-end;
}
.add-icon-container.list-add {
    top: -10px;
    right: 10px;
    position: relative;
}
.add-icon-container.event-add {
    top: 20px;
    right: 10px;
    position: relative;
}
.add-icon-cir {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #3a4e7a;
    border-radius: 50%;
    color: white;
    position: relative;
    box-shadow: 3px 0 5px 1px rgba(51, 51, 51, .3);
}
.add-icon-cir.all-events-add {
    position: fixed;
}
.add-icon-cir:hover {
    background-color: rgba(32, 35, 39, 0.897);
    box-shadow: 3px 0 5px 3px rgba(51, 51, 51, .3);
}
.content-header-title {
    display: flex;
    align-items: center;
    margin: 0px 20px;
    letter-spacing: 2px;
}
.content-header-title .title-chevron {
    padding-right: 10px;
    margin-left: -8px;
}
.event-add {
    position: relative;
    /* top: 20px; */
    display: flex;
    justify-content: flex-end;
}
.events-timeline {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
}
.timeline {
    position: relative;
}
.timeline::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    width: 6px;
    height: 100%;
    background-color: #4a5770;
}
.timeline-month {
    padding: 10px 30px;
    background-color: lightgray;
    border-radius: 6%;
    width: 100px;
    margin-bottom: 15px;
}
.timeline-month::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -6px;
    background-color: white;
    border: 4px solid rgba(1, 101, 141, 0.897);
    border-radius: 50%;
    z-index: 1;
}
.timeline-section {
    display: flex;
    flex-direction: column;
}
.timeline-date {
    width: 80px;
    font-size: 17px;
    padding: 5px 5px 5px 15px;
    margin-bottom: 15px;
    background-color: rgb(145, 157, 190);
}
.timeline-date::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    left: -5px;
    background-color: white;
    border: 4px solid rgba(1, 101, 141, 0.897);
    border-radius: 50%;
    z-index: 1;
}
.timeline-card {
    position: relative;
    margin-left: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: calc(100% - 30px);
}
.timeline-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.event-card {
    margin-bottom: 25px;
    border-bottom: 1px solid black;
}
.card-title {
    background-color: rgba(1, 101, 141, 0.897);
    color: whitesmoke;
    display: flex;
    align-content: center;
    align-items: center;
    padding-left: 5px;
    height: 20px;
    margin: 0;
}
.card-details {
    padding-left: 5px;
    padding-bottom: 5px;
}
.trip-tickets {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ticket-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 15px;
    width: 200px;
    padding: 15px;
}
.ticket-card h4 {
    margin: 0;
    font-size: 14px;
}
.ticket-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    height: 80px;
}
.ticket-card img {
    position: relative;
    top: 5px;
    width: 125px;
    transition: 0.3s ease-in-out;
    transform: rotate(-11deg);
}
.ticket-card img:hover {
    transform: rotate(-25deg);
}
.ticket-card p {
    position: relative;
    top: -25px;
    font-size: 12px;
}
.lists-delete:hover {
    color: red;
}
.current-balance {
    font-size: 20px;
}

@media screen and (min-width: 1356px) {
    .main-content-events {
        flex-direction: row;
    }
    .main-content-cards {
        flex-direction: row;
    }
    .content.events-section,
    .content.finanaces-section {
        margin-top: 0;
    }
    .content-list {
        margin-right: 5px;
    }
    .events-section {
        flex: 1.5;
    }
    .finances-section {
        flex: 1
    }
    .content .events-section {
        margin-right: 10px;
    }
    .add-container {
        margin: 0;
    }
    .timeline::after {
        height: calc(100% + 20px);
    }
    .trip-tickets {
        flex-wrap: wrap;
        flex-direction: row;
        margin-left: 25px;
        margin-right: 25px;
    }
}
@media screen and (min-width: 1025px) {
    .add-icon-container.event-add,
    .add-icon-container.list-add {
        display: none;
    }
    .add-icon.list-add,
    .add-icon.event-add,
    .add-icon.trip-add {
        display: block;
    }
    .finance-current-balance {
        font-size: 30px;
    }
}
@media screen and (min-width: 768px) {
    .list-wrapper {
        flex-direction: row;
        justify-content: space-evenly;
        padding-left: 10px;
    }
    .content-cards {
        width: 400px;
    }
    .timeline-card {
        width: 400px;
    }
    .timeline-section {
        flex-direction: row;
        max-width: 98%;
    }
    .trip-tickets {
        width: calc(100% - 50px);
    }
    .main-content-events content .finanaces-section {
        flex-direction: row;
    }
    .content-finance-cards {
        padding-bottom: 50px;
    }
    .current-balance {
        font-size: 24px;
    }
    .sub-content-header {
        font-size: 18px;
    }
}