.footer span {
    margin: 0 20px; 
}
@media screen and (min-width: 768px) {
    .footer {
        grid-area: footer;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #f1f1f0;
        height: 50px;
        border-top: 1px solid rgb(214, 214, 214);
    }
}